@import "../../sass/variables";
@import "../../sass/mixins";

.CreateTaskForm {
	@include fill_container;
	margin-bottom: 4rem;

	&_form {
		width: 60%;
		height: auto;

		&_title {
			font-size: 2.5rem;
			font-weight: 700;
			color: map-get($map: $colors, $key: "mainBlackBlue");
			margin-bottom: 4rem;
		}

		&_subtitle {
			font-size: 1.8rem;
			font-weight: 700;
			color: map-get($map: $colors, $key: "mainBlackBlue");
			margin-bottom: 4rem;
			opacity: 0.8;
		}

		& > hr {
			opacity: 0.2;
			margin-bottom: 3rem;
		}

		&_toggleOptions {
			width: auto;
			height: auto;
			@include row_start_start;
			margin-bottom: 2rem;

			&_label {
				font-size: 1.4rem;
				font-weight: 400;
				color: map-get($map: $colors, $key: "main");
				margin-right: 0.5rem;
				cursor: pointer;
			}
		}

		&_moreOptions {
			width: 100%;
			height: auto;
			padding: 3rem 1rem;

			&_priority {
				width: max-content;

				&_title {
					font-size: 1.6rem;
					font-weight: 600;
					color: map-get($map: $blueGreys, $key: "subheadings");
					margin-bottom: 1rem;
				}
			}
		}

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: map-get($map: $colors, $key: "main");
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 500px) {
	.CreateTaskForm {
		&_form {
			@include fill_container;
		}
	}
}
