@import '../../sass/variables';
@import '../../sass/mixins';

.CreateTaskForm {
    @include fill_container;
    margin-bottom: 4rem;

    &_form {
        @include fill_container;

        &_title {
            font-size: 2.5rem;
            font-weight: 700;
            color: map-get($map: $colors, $key: "mainBlackBlue");
            margin-bottom: 4rem;
        }

        &_subtitle {
            font-size: 1.8rem;
            font-weight: 700;
            color: map-get($map: $colors, $key: "mainBlackBlue");
            margin-bottom: 4rem;
            opacity: 0.8;
        }

        &>hr {
            opacity: 0.2;
            margin-bottom: 3rem;
        }

        &_toggleOptions {
            width: auto;
            height: auto;
            @include row_start_start;

            &_label {
                font-size: 1.4rem;
                font-weight: 400;
                color: map-get($map: $colors, $key: "main");
                margin-right: 0.5rem;
                cursor: pointer;
            }
        }

        &_moreOptions {
            width: 100%;
            height: auto;
        }

        &_icon {
            width: 2rem;
            height: 2rem;
            fill: map-get($map: $colors, $key: 'main');
            cursor: pointer;
        }
    }
}