@import "../../sass/variables";
@import "../../sass/mixins";

.TaskDetails {
	@include fill_container;
	padding: 2rem 1rem;

	&_top {
		width: 100%;
		height: auto;
		@include row_between_center;
		border-bottom: 1px solid map-get($map: $colors, $key: "mainGrey");

		&_title {
			font-size: 1.8rem;
			font-weight: 600;
			color: map-get($map: $colors, $key: "main");
		}

		// date on the top right
		&_date {
			@include col_center_all;

			&_label {
				font-size: 1.3rem;
				font-weight: 400;
				color: map-get($map: $blueGreys, $key: "headings");
			}

			&_icon {
				width: 2rem;
				height: 2rem;
				fill: map-get($map: $blueGreys, $key: "headings");
			}

			&_dateString {
				font-size: 1.6rem;
				font-weight: 700;
				color: map-get($map: $colors, $key: "mainBlackBlue");
			}
		}
	}

	&_main {
		width: 100%;
		height: auto;
		padding-top: 4rem;

		&_content {
			margin-bottom: 2rem;
			@include fill_container;

			&_label {
				font-size: 2rem;
				font-weight: 300;
				text-decoration: underline;
				margin-bottom: 1rem;
				color: map-get($map: $colors, $key: "mainBlackBlue");
			}

			&_notes {
				font-size: 1.6rem;
				font-weight: 300;
			}
		}
	}

	&_addNote {
		width: 100%;
		height: auto;
		padding-top: 3rem;
	}
}

.divider {
	margin-bottom: 2rem;
	opacity: 0.2;
	margin-top: 2rem;
}
