@import "../../sass/mixins";
@import "../../sass/variables";

.TaskNotesList {
	width: max-content;
	max-width: 100%;
	height: auto;

	&_inner {
		padding: 0.5rem;
	}

	&_showMore {
		width: max-content;
		margin: 1rem auto;

		&_icon {
			width: 1.4rem;
			height: 1.4rem;
			fill: #ffffff;
			margin-right: 0.5rem;
		}
	}
}
