@import "../../sass/variables";
@import "../../sass/mixins";

.TaskShiftEntry {
    width: 100%;
    height: auto;
    @include col_start_start;

    &_notes {
        width: 100%;
        height: auto;
        @include row_start_center;

        &_icon {
            width: 1.4rem;
            height: 1.4rem;
            fill: map-get($map: $blueGreys, $key: "headings");

            &:hover {
                cursor: pointer;
                fill: map-get($map: $colors, $key: "main");
            }
        }
    }
}

.TaskShiftList {
    @include fill_container;
}