@import '../../sass/mixins';
@import '../../sass/variables';


.ConditionalForm {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    &_mainInput {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    &_conditionalInput {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

}