@import "../../sass/mixins";
@import "../../sass/variables";

.Counter {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	margin-bottom: 2rem;

	&_label {
		width: 100%;
		font-size: 1.8rem;
		font-weight: 700;
		@include row_center_all;
	}

	&_counter {
		@include row_start_center;

		&_btn {
			padding: 0.3rem 1rem;
			font-size: 1.8rem;
			font-weight: 700;
			border: none;
			outline: none;
			border-radius: 0.5rem;
			background-color: map-get($map: $colors, $key: "mainGrey");
			&:hover,
			&:focus-within {
				-webkit-box-shadow: map-get($map: $shadows, $key: "mainOutline");
				box-shadow: map-get($map: $shadows, $key: "mainOutline");
				cursor: pointer;
			}
			&:nth-child(1) {
				margin-right: 0.3rem;
			}
			&:nth-child(3) {
				margin-left: 0.3rem;
			}
		}
		&_input {
			width: -webkit-max-content;
			width: -moz-max-content;
			width: max-content;
			min-width: 5rem;
			max-width: 10rem;
			height: -webkit-max-content;
			height: -moz-max-content;
			height: max-content;
			font-size: 1.8rem;
			text-align: center;
			outline: none;
			border: none;
			border-radius: 0.5rem;
			&:hover,
			&:focus-within {
				-webkit-box-shadow: map-get($map: $shadows, $key: "mainOutline");
				box-shadow: map-get($map: $shadows, $key: "mainOutline");
				cursor: pointer;
			}
		}
	}
}
