@import "../../sass/variables";
@import "../../sass/mixins";

.RadioButton {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	-webkit-box-shadow: map-get($map: $shadows, $key: "tight");
	box-shadow: map-get($map: $shadows, $key: "tight");
	background-color: map-get($map: $colors, $key: "mainGrey");
	margin-bottom: 1rem;

	&:hover {
		cursor: pointer;
	}

	&_label {
		font-size: 1.4rem;
		font-weight: 600;
		color: map-get($map: $colors, $key: "mainBlackBlue");
		cursor: pointer;
	}
}

.isSelected {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	-webkit-box-shadow: map-get($map: $shadows, $key: "tight");
	box-shadow: map-get($map: $shadows, $key: "tight");
	background-color: map-get($map: $colors, $key: "mainBlackBlue");
	color: #ffffff;
	margin-bottom: 1rem;

	&_high {
		@extend .isSelected;
		background-color: map-get($map: $colors, $key: "mainRed");
		color: #ffffff;
	}
	&_medium {
		@extend .isSelected;
		background-color: map-get($map: $colors, $key: "mainOrange");
		color: #ffffff;
	}
	&_low {
		@extend .isSelected;
		background-color: map-get($map: $colors, $key: "altYellow");
		color: #ffffff;
	}
	&_low {
		@extend .isSelected;
		background-color: map-get($map: $colors, $key: "mainBlackBlue");
		color: #ffffff;
	}

	& > span {
		font-size: 1.4rem;
		font-weight: 600;
		color: #ffffff;
	}
}
