@import "../../sass/mixins";
@import "../../sass/variables";
@import "../../sass/animations";

.VoiceRecorder {
	@include fill_container;
	margin-bottom: 4rem;

	&_input {
		@include fill_container;
		position: relative;

		&_pulse {
			position: absolute;
			display: block;
			bottom: 0.5rem;
			left: 0.5rem;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			background-color: map-get($map: $colors, $key: "mainRed");
			@include pulse;
		}
	}

	&_controls {
		@include row_start_center;

		& > * {
			margin: 0 1rem;
		}
	}
}
