@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/animations';


.VoiceRecorder {
  @include fill_container;

  &_input {
    @include fill_container;
    position: relative;

    &_pulse {
      position: absolute;
      display: block;
      bottom: .5rem;
      left: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: map-get($map: $colors, $key: 'mainRed');
      @include pulse;
    }
  }
  
  &_controls {
    @include row_start_center;
  }
}