@import './sass/variables';
@import './sass/mixins';

.App {
  max-width: 100vw;
  height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: map-get($map: $colors, $key: 'mainBlackBlue');
  padding-top: 4rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 300;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: map-get($map: $blueGreys, $key: 'headings');

  &:hover {
    cursor: pointer;
    fill: map-get($map: $colors, $key: 'main');
  }
}